    <!-- about-Area Start-->
    <section class="about-area-2 pd-top-96 pd-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about-video-wrap">
                        <div class="thumb">
                            <img src="assets/img/about/bg2.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-nav-pills">
                        <div class="tab-content">
                            <div class="tab-pane fade show active">
                            	<h4> LobbyTax  </h4>
                                <p>It is a total tax consulting firm, offering US tax return Preparation and Filing, Tax planning, Tax compliance, Accounting, Bookkeeping, Business advisory, Firm/Company incorporation, and payroll services. LobbyTax offer services to a wide variety of clients ranging from individuals to all Businesses.</p>
                                <p>Our team consists of highly experienced and certified professionals with the IRS, and Chartered Accountants, Management graduates, CPA's, Enrolled Agents who have worked for top consulting firms and Big 4 Audit firms.</p>
                                <p>LobbyTax aim is to deliver the Tax and Accounting services as per the IRS and State Tax Laws and Regulations, with a peace of mind and support that you expect from the tax filing consultants.</p>
                           </div>
                        </div>                        
                    </div>
                </div>
                
                <div class="col-lg-12 align-self-end">
                    <div class="about-nav-pills">
                        <div class="tab-content">
                            <div class="tab-pane fade show active">
                            	<p>Our team strength is well experienced, trained professionals, and have good knowledge in all Taxation matters and in Audit compliance, and also expertise in Prepare and Filing Non-Resident Tax Returns (1040-NR) with a guaranteed and maximize the Refund, who are on Student Visa like F1 or F1(OPT/CPT).</p>
                        	</div>
                        </div>    
                    </div>   
                </div>
                
                <div class="col-lg-8 align-self-end">
                    <div class="about-content">
                        <p>LobbyTax is having a dedicated team for effective and timely handling all notices/queries received from the department the federal and state departments.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-contact-wrap">
                        <img src="assets/img/icon/phone.png" alt="img">
                        <h6>Call Us: (1-909) 909-9009</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-Area End-->