<!-- about-Area Start-->
<section class="about-area pd-top-96 pd-bottom-100">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-4">
                <div class="section-title section-title-2">
                    <h2 class="title"><span>About</span> LobbyTax</h2>
                </div>
            </div>
            <div class="col-lg-8 align-self-center">
                <p>
                    LobbyTax is a total tax consulting firm, offering US tax return Preparation and Filing, Tax planning, 
                    Tax compliance, Accounting, Bookkeeping, Business advisory, Firm/Company incorporation, and payroll services. 
                    LobbyTax offer services to a wide variety of clients ranging from individuals to all Businesses.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="about-video-wrap">
                    <div class="thumb about-img">
                        <img src="assets/img/about/img12.jpg" width="100%" height="100%" alt="img">
                    </div>
                </div>
                <div class="about-nav-pills">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#pills-TEAM">
                                <span class="thumb"><img src="assets/img/about/2.png" alt="img"></span> TEAM
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pills-SERVICE">
                                <span class="thumb"><img src="assets/img/about/3.png" alt="img"></span> SERVICE
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#pills-support">
                                <span class="thumb"><img src="assets/img/about/1.png" alt="img"></span> SUPPORT
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-TEAM">
                            <h5><a href="#">Experienced Professionals</a></h5>
                            <p>
                                Our team consists of highly experienced and certified professionals with the IRS, and Chartered Accountants, 
                                Management graduates, CPA's, Enrolled Agents who have worked for top consulting firms and Big 4 Audit firms.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-SERVICE">
                            <h5><a href="#">US Tax Services</a></h5>
                            <p>
                                LobbyTax aim is to deliver the Tax and Accounting services for Individuals and Business clients as per 
                                the IRS and State Tax Laws and Regulations, with a peace of mind and support that you expect from the tax filing consultants.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-support">
                            <h5><a href="#">Dedicated Support Team</a></h5>
                            <p>
                                LobbyTax have an extensive dedicated team to support our beloved clients 24/7 in Tax Season, 
                                and also assist and support peace of mind service.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="message-wrap">
                    <h6 class="title  text-center">100% free services</h6>
                    <div class="p-4">
                    <p>We are dedicated for US Individual / Business Tax filing,
                     a registered Electronic Return Originator(ERO) with the IRS and governed by Circular 230 of IRS Rules.</p>
                    <h6>Our all time free services</h6>
                    <ul>
                    <li>IRS Audit Defence</li>
                    <li>ITIN Preparation</li>
                    <li>Advanced Tax Planning</li>
                    <li>Federal Filing Extensions</li>
                    <li>State Filing Extensions</li>
                    <li>Access to Previous Tax Records</li>
                    </ul>
                    </p>
                    <p>
                    <a class="btn btn-pink pt-1" href="#">
                        Register now <i class="la la-angle-right"></i>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-Area End-->  