<!-- Banner Area Start-->
<section class="banner-area banner-slider-2">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="banner-bg slide-inner slide-bg-image" data-background="assets/img/banner/img4.png">
            <div class="banner-bg-arrow"></div>
            <div class="banner-bg-color">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-xl-10">
                    <div class="banner-inner banner-inner-2 text-center">
                      <p class="">Federal, State and Local Tax Filing</p>
                      <h1 class="">US Individual and Business <br/>Tax Returns for TaxYear 2023</h1>
                      <div><a class="btn btn-pink pt-1" href="individual_services.html"> Click here to view more... <i class="la la-angle-right"></i> </a></div>
                      <div><a class="btn pt-1 banner-register-btn" href="individual_services.html"> Register <i class="la la-angle-right"></i> </a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end slide-inner --> 
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide">
          <div class="banner-bg slide-inner slide-bg-image" data-background="assets/img/banner/img5.png">
            <div class="banner-bg-arrow"></div>
            <div class="banner-bg-color">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-xl-10">
                    <div class="banner-inner banner-inner-2 text-center">
                      <p class="">Tax Planning, Preparation and Filing</p>
                      <h1 class="">ITIN Support & Filing Process</h1>
                      <div><a class="btn btn-pink pt-1" href="individual_services.html"> Click here to view more... <i class="la la-angle-right"></i> </a></div>
                      <div><a class="btn pt-1 banner-register-btn" href="individual_services.html"> Register <i class="la la-angle-right"></i> </a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end slide-inner --> 
        </div>
        <!-- end swiper-slide --> 
        <div class="swiper-slide">
          <div class="banner-bg slide-inner slide-bg-image" data-background="assets/img/banner/img6.png">
            <div class="banner-bg-arrow"></div>
            <div class="banner-bg-color">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-xl-10">
                    <div class="banner-inner banner-inner-2 text-center">
                      <p class="">Federal, State and Local Tax Filing</p>
                      <h1 class="">FBAR & FACTA <br/>Processing and Filing</h1>
                      <div><a class="btn btn-pink pt-1" href="individual_services.html"> Click here to view more... <i class="la la-angle-right"></i> </a></div>
                      <div><a class="btn pt-1 banner-register-btn" href="individual_services.html"> Register <i class="la la-angle-right"></i> </a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end slide-inner --> 
        </div>
        <!-- end swiper-slide -->
        <div class="swiper-slide">
          <div class="banner-bg slide-inner slide-bg-image" data-background="assets/img/banner/img7.png">
            <div class="banner-bg-arrow"></div>
            <div class="banner-bg-color">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-xl-10">
                    <div class="banner-inner banner-inner-2 text-center">
                      <p class="">Federal, State and Local Tax Filing</p>
                      <h1 class="">IRS Audit and Defense</h1>
                      <div><a class="btn btn-pink pt-1" href="individual_services.html"> Click here to view more... <i class="la la-angle-right"></i> </a></div>
                      <div><a class="btn pt-1 banner-register-btn" href="individual_services.html"> Register <i class="la la-angle-right"></i> </a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end slide-inner --> 
        </div>
        <!-- end swiper-slide -->
      </div>
      <!-- end swiper-wrapper --> 
      <!-- swipper controls -->
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
  <!-- Banner Area End -->