<section class="service-details-area pd-top-100 pd-bottom-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="service-details-inner">
                    <div class="service-accordion mb-5">
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapseOne">
                                    What is meant by Tax Planning ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapseOne" class="collapse">
                                <div class="card-body">
                                    Tax Planning means, Planning your Taxes by performing review of your situation and identify tax saving strategies. While preparing the Tax Return we review the entire situation like applicability of deductions and eligibility of credits to reduce the Tax liability and increase the Refund
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapseTwo">
                                    Is there an age limit on claiming my child as a dependent ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapseTwo" class="collapse">
                                <div class="card-body">
                                    Age is a factor in the qualifying child test, but a qualifying relative can be any age as long as the following tests are met, you may claim a dependent exemption for your child.
                                    <ul>
                                    <li>Qualifying child or qualifying relative test</li>
                                    <li>Dependent Taxpayer test</li>
                                    <li>Citizen or resident test</li>
                                    <li>Joint return test</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapseThree">
                                    How Regular Tax Planning is different from Advance Tax Planning ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapseThree" class="collapse">
                                <div class="card-body">
                                   Regular Tax planning is different from Advance Tax Planning, In regular Tax planning system we can compute the Taxes after completion of the Tax year, and in Advance Tax Planning system we can compute the Taxes by applying the IRS provisions before completion of the Tax year to reduce the Tax liability and increase the refund
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse4">
                                    What if my estimated income doesn't match with the realized income? How will be difference accounted for in my Tax Planning?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse4" class="collapse">
                                <div class="card-body">
                                   In Advance Tax Planning we plan your Tax Return by estimating your Income for the current Tax year and compute the estimated Taxes, And while preparing your original Tax Return compare the Income and Taxes thereon which was already prepared, If any changes will be come across then we will correct the Tax Return as per the IRS Rules and Regulations
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse5">
                                    What is the authenticity of the Advance Tax Planning ? And how can I cross check ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse5" class="collapse">
                                <div class="card-body">
                                   As soon as the necessary source documents uploaded by you in our website, our Tax expert will analyse the documents and compute the Taxes once it's over we will send you the Tax planning document for your verification along with the IRS publication and guidelines.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse6">
                                    How can I make a payment ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse6" class="collapse">
                                <div class="card-body">
                                   You can make a payment online by using your credit card, Debit card, PayPal and ICICI Bank.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse7">
                                    How will you assist me in filing of 2023 Tax Return ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse7" class="collapse">
                                <div class="card-body">
                                   Our LobbyTax consist a team of highly professionally experienced people in Taxation, so it will help you to prepare and planning your Tax Return (to maximize your Refund) as per the latest updates announced by IRS Department.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse8">
                                    How secure is my personal data and financial information ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse8" class="collapse">
                                <div class="card-body">
                                   We respect our value customers and data provided by the client i.e, personal data and financial information scrutinize and maintain as a soft copy form by our Technology team and we adhere to Indian IT Act.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse9">
                                    How can I make a payment ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse9" class="collapse">
                                <div class="card-body">
                                   You can make a payment online by using your credit card, Debit card, PayPal and ICICI Bank.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse10">
                                    How can I login in to my account ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse10" class="collapse">
                                <div class="card-body">
                                   As soon as you registered our website, you will automatically received User ID and password to the mail ID which you registered with us. Then with these details you can login our website.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse11">
                                    How can I contact your Tax experts ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse11" class="collapse">
                                <div class="card-body">
                                   Once you registered with us, your Tax Return will be assigned to the respective Tax Analyst automatically and you can find the contact details (name and contact number) in your account at each level of your Tax Return. And we assure you our customer support executives will support in 24/7 throughout the year.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse12">
                                    How LobbyTax is better compared to online filing ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse12" class="collapse">
                                <div class="card-body">
                                  LobbyTax having a team of dedicated professionally qualified, and experienced people , so it means to analyze your Tax situation accurately as per the documents uploaded by you and also determine the correct residential status based on the period you resided in the United States to file Tax Returns accurately. This will help you to avoid receiving of notices from the IRS and State departments as well, compared to online filing, also LobbyTax offering unlimited Tax Representation for each individual.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse13">
                                    How can I check my Tax Return before submit to the IRS department ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse13" class="collapse">
                                <div class="card-body">
                                   We will process your Tax Return through web based only, so as soon as our Tax expert will do the same the concerned executive will upload the copy of your Tax Return (with water mark) in our website, for your verification and confirmation and inform the same to you then login in to your account and check the status.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse14">
                                    How can I escalate if the query could not be resolved within quoted time ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse14" class="collapse">
                                <div class="card-body">
                                   Our concerned executive will attend your query within 48 hours of time if not so, you can escalate the issue to the concerned Manager from our website through escalation option.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse15">
                                    How can I pay the Taxes to the Department if I owe ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse15" class="collapse">
                                <div class="card-body">
                                   You can make a payment of Taxes to the Departments in three modes i.e, Auto withdrawal facility, Online payment and pay through check. But Department allowed Auto withdrawal facility if you file the Tax Return before April 15th of the Financial year.
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h6>
                                    <button data-toggle="collapse" data-target="#collapse16">
                                    How can I get my Tax Refund from the Departments ?
                                    </button>
                                </h6>
                            </div>
                            <div id="collapse16" class="collapse">
                                <div class="card-body">
                                   While filing your Tax Return with the concern department if you provide your bank details in your tax return then refund will be automatically credited directly to your account, otherwise you will receive it by check.
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-area">
                    <div class="widget widget-contact">
                        <div class="widget-contact-wrap">
                            <img src="assets/img/icon/phone.png" alt="img">
                            <h6>Call Us: (1-909) 909-9009</h6>
                        </div>
                        <p>We have an extensive experience in filing of US Individual Tax Returns and Corporate Tax Returns. We have a team of qualified experts does research in all tax matters liaising with departments.</p>
                    </div>
                    <div class="widget widget-startup">
                        <h5 class="widget-title">Refer & Earn $10 per successful referral</h5>
                        <div class="thumb">
                            <img class="w-100" src="assets/img/icon/faq-ref.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- helping-Area Start-->
<section class="helping-area pd-top-88 pd-bottom-100" style="background: url(https://th.bing.com/th/id/OIP.sHSpAyIJnEnte7jMaT7HOgHaCU?rs=1&pid=ImgDetMain);">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="help-wrap text-center">
                <h3>How Can We Help You?</h3>
                <p class="text-center">We have Tax knowledge base tell us your queries.</p>
                <div class="row justify-content-center">
                    <h3>+1 909-909-9009</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- helping-Area End-->