<!-- footer area start -->
<footer class="footer-area footer-area-2" style="background: url(https://wallpapercrafter.com/desktop3/1086038-Dubai-city-building-city-lights-sunset-office.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-5 col-sm-8" style="margin-right:20px;">
                <div class="footer-widget widget widget_category">
                    <div class="footer-logo">
                        <img src="assets/img/Lobbytax_logo.jpg" alt="">
                    </div>
                    <p>
                        We have an extensive experience in filing of US Individual Tax Returns and Corporate Tax Returns.
                        We have a team of qualified experts does research in all tax matters liaising with departments.
                        We will focus on long term relations with all our beloved clients to assist in all tax matters 
                        and our team of executives interacts with the clients in all Taxation matters round the year.
                    </p>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4" style="margin-right:20px;">
                <div class="footer-widget widget widget_link">
                    <h4 class="widget-title">Quick Links</h4>
                    <ul>
                        <li><a href="individual_services.html">US Individual Tax</a></li>
                        <li><a href="business_services.html">US Business Tax</a></li>
                        <li><a href="referral.html">Refer a Friend</a></li>
                        <li><a href="contact.html">Contact LobbyTax</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-md-2 col-sm-5">
                <div class="footer-widget widget widget_info">
                    <h4 class="widget-title">Reach Us</h4>
                    <p>
                        <i class="fa fa-map-marker-alt"></i>18628 McKay Cove,<br> Austin,TX 78738<br> United States
                    </p>
                    <p class="phone"><i class="fa fa-phone-alt"></i>+91 906-3016-069<br/>
                    <i class="fa fa-phone-alt"></i>+1 909-909-9009</p>
                    <p class="email"><i class="fa fa-envelope"></i>contact@Lobbytax.com</p>
                </div>
            </div>
            <div class="col-xl-2 col-md-2 col-sm-7" style="margin-right:40px;">
                <div class="payment-img">
                    <img src="assets/img/payments.png" width="100%" height="100%" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->
<!--Footer bottom-->
<div class="footer-bottom footer-bottom-2">
    <div class="container">
        <div class="copyright-area">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <p>&copy; CopyRight All right reserved <a href="index.html">LobbyTax</a></p>
                </div>
                <div class="col-md-4">
                    <p><a href="Lobbytax_terms.html">Terms & Conditions</a> | <a href="privacy-policy.html">Privacy Policy</a></p>
                </div>
                <div class="col-md-4 text-md-right">
                    <ul class="social-area social-area-2">
                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer bottom-->
<!-- back to top area start -->
<div class="back-to-top">
    <span class="back-top"><i class="fa fa-angle-up"></i></span>
</div>
<!-- back to top area end -->
<!-- all plugins here -->
<script src="assets/js/vendor.js"></script>
<!-- main js  -->
<script src="assets/js/main.js"></script><script type="text/javascript">
$(document).ready(function(){
	$("#toplink_home").hide();
	
});
</script>