<!-- history-Area Start-->
<section class="history-area-2 pd-top-96 pd-bottom-70" style="background: url(assets/img/banner/home1.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title section-title-2 style-white text-center">
                    <h6 class="sub-title">Our History</h6>
                    <h2 class="title">More Than 5 Years of Experience</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="single-history-wrap single-history-wrap-2 media">
                    <div class="thumb history-icons">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="wrap-details media-body align-self-center">
                        <h6>Satisfied Customers</h6>
                        <h4><span class="counter">10</span><span>K+</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-history-wrap single-history-wrap-2 media">
                    <div class="thumb history-icons">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                    </div>
                    <div class="wrap-details media-body align-self-center">
                        <h6>Tax returns Filed</h6>
                        <h4><span class="counter">30</span><span>K+</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-history-wrap single-history-wrap-2 media">
                    <div class="thumb history-icons">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </div>
                    <div class="wrap-details media-body align-self-center">
                        <h6>Customers Satisfaction</h6>
                        <h4><span class="counter">100</span><span>%</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- history-Area end-->