<section class="service-details-area pd-top-100 pd-bottom-80">
    <div class="container">
        <div class="row justify-content-center">           	
                  
            <div class="col-lg-4">
                <div class="sidebar-area">
                    <div class="service-accordion">
                        <div class="tab tab-active">
                            <a href="#">US Individual Tax Services</a>
                        </div>
                        <div class="tab">
                            <a href="business_services.html">US Business Services</a>
                        </div>
                        <div class="mt-5" >
                            <img src="assets/img/banner/5.png">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-8">
                <div class="service-details-inner">
                    <div class="cardbody" id="1">
                        <div class="mt-1">
                            <h4>US Individual Tax Services</h4>
                            <p>LobbyTax is a dedicated & registered Electronic Return Originator (ERO) with the IRS and governed by Circular 230 of IRS Rules. When compared to the other tax consultants we have well certified and highly experienced preparers, and e-filing process only by the CPA's, EA's, Chartered Accountants, MBA's and Registered Tax Return Preparers (RTRP) who hold Preparer Tax Identification Number (PTIN). </p>
                            <p>LobbyTax assure 100% accuracy in the tax preparation as all the tax returns are prepared only by the qualified professionals, all the tax returns are filed after reviewing at different levels designed by the LobbyTax management.</p>
                            <p class="mt-2"><h7>Individual Tax Services</h7>
                            <ul class="ml-4">
                                <li>Preparation of Federal & State Tax Returns</li>
                                <li>Estimated Income Taxes</li>
                                <li>ITIN Process</li>
                                <li>E-Filing/Paper Filing</li>
                                <li>FBAR Process</li>
                                <li>Extension of Federal & State Tax Returns</li>
                                <li>Passport Certification</li>
                                <li>Amendment Tax Return Preparation & Filing</li>
                                <li>Tax Representation</li>
                            </ul>
                            </p>
                            <p>LobbyTax provides the Tax service/Suggestions throughout the year, An experience Tax Analyst will be available to help or suggest the taxpayer on the below query's.</p>
                        </div>	
                        <div class="mt-4">
                            <h7>Preparation of Federal & State Tax Returns </h7>
                            <p>Who must file tax returns? (Federal 1040,1040NR) In general – all US citizens and residents must file Individual income tax returns on their worldwide income. What income is taxable? All income is taxable unless specifically exempted in the tax code. This is where the confusion and complexity begin.</p>
                        </div>	
                        <div class="mt-4">
                            <h7>Estimated Income Taxes</h7>
                            <p>One of the issues to keep in mind in the current year. As you are filing last year's return you need to check the current year taxes.</p>
                            <p>Some special circumstances, carefully estimating your current year income tax can save you    penalties and excessive cash outlays.</p>
                            <ul class="ml-4">
                                <li>Income which varies along the year such as Self-Employment</li>
                                <li>New Job</li>
                                <li>Filing status change (If married)</li>
                                <li>Work as Consultant or Business commission</li>
                            </ul>
                        </div>	
                        <div class="mt-4">
                            <h7>ITIN Process</h7>
                            <p>Tax Payer needs to visit IRS office along with ITIN applicants such as spouse and kid's carrying Federal Tax Return copy, ITIN applications and original Passports. IRS agent can verify all the documents together with original Passports and accept the Tax Return.</p>
                        </div>
                        <div class="mt-4">
                            <h7>Passport certification through MEA</h7>
                            <p>Tax Payer have to certify the Passports of ITIN applicants (Spouse/Dependents) through Indian MEA. After sign the documents (Federal tax return and ITIN applications) where need to be signed, the Tax Payer shall mail (by following LobbyTax instructions) all the documents along with the certified passport copies to the IRS address.</p>
                        </div>	
                        <div class="mt-4">
                            <h7>E-Filing </h7>
                            <p>We fully participate in the e-filing process of personal income tax returns. Our software vendor sends the returns to the IRS and to the respective state(s).</p>
                            <p class="mt-2"><h7>E-Filing Benefits</h7>
                            <ul class="ml-4">
                                <li>Confirmation that the return(s) were timely filed</li>
                                <li>Confirmation that the return(s) were accepted (typically within 48 hours)</li>
                                <li>Secure E-filing</li>
                                <li>Timely Direct Deposit of Refund</li>
                                <li>No delay in Processing of the Return(s)</li>
                            </ul>
                            </p>
                        </div>
                        <div class="mt-4">
                            <h7>Paper Filing</h7>
                            <p>Tax Payer(s) who are not eligible to file electronically have to file the Tax Return through paper documents through mail to both Federal and state department(s).</p>
                        </div>
                        <div class="mt-4">
                            <h7>Amendment Filing(1040X)</h7>
                            <p>Sometimes events subsequent to the tax year, or improved and refined reporting by others, change the amounts you reported as income or deduction. 
                            If this happens you would need to file an amended income tax return to correct the record. 
                            This could result in a balance due or a refund depending upon the particular circumstances. 
                            In general, you can only collect a refund if the amendment tax return is filed within 3 years of the original due date of the 
                            return. For example – the 2017 tax returns were due 4/15/18. If your 2017 return needed to be changed you could claim a refund up to 4/15/21. 
                            There is no time limit for the filing of an amendment to record additional tax due.</p>
                        </div>
                        <div class="mt-4">
                            <h7>FBAR Process</h7>
                            <p>A U.S. person, including a citizen, resident, corporation, partnership, limited liability company, trust and estate, must file an FBAR to report.</p>
                            <p>A financial interest in or signature or other authority over at least one financial account located outside the United States, 
                            if the aggregate value of those foreign financial accounts exceeded $10,000 at any time during the calendar year reported.</p>
                        </div>
                        <div class="mt-4">
                            <h7>Extension for Filing</h7>
                            <p>Form 4868, Application for Automatic Extension of Time to File U.S. Individual Income Tax Return, is used by individuals to 
                            apply for six (6) more months to file Form 1040, 1040A, 1040EZ, 1040NR, or 1040NR-EZ. A U.S. citizen or resident files this form to request an automatic extension of time to file a U.S. individual income tax return.</p>
                        </div>
                        <div class="mt-4">
                            <h7>Tax Representation</h7>
                            <p><strong>LobbyTax</strong> assist representation services to Individual and Business Tax payers, if receive any Audit notice from the Federal and state departments.</p>
                            <p><strong>LobbyTax</strong> having professionally qualified and well experienced dedicated team like CPA's, EAs to assist in all Audit and notices.</p>
                        </div>
                        <div class="mt-4">
                            <h7>Foreign Account Tax Compliance Act (FATCA)</h7>
                            <p>The Foreign Account Tax Compliance Act (FATCA), which was passed as part of the HIRE Act, generally requires that foreign financial Institutions and certain 
                            other non-financial foreign entities report on the foreign assets held by their U.S. account holders or be subject to withholding on with holdable payments. 
                            The HIRE Act also contained legislation requiring U.S. persons to report, depending on the value, their foreign financial accounts and foreign assets.</p>
                        </div>
                        <div class="mt-4">
                            <h7>Strategic Planning</h7>
                            <p>Our team of experts and professionals always work with the client and understand the client's specific requirements and analyze situation. 
                            This is help us come up with the most strategic tax planning recommendations for you. Our tax planning services covers the following for 
                            all Individual and Business Tax Payers(1040,1040NR and all Business Filers).</p>
                            <ul class="ml-4">
                                <li>Assess the Tax Returns: Standard vs. Itemized Deductions</li>
                                <li>Tax Planning for student visa holders</li>
                                <li>Tax Planning for Non-Residents</li>
                                <li>Gifting Strategies</li>
                                <li>Representation before IRS</li>
                            </ul>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            
            
        </div>
    </div>
</section>