
<!-- topbar area end -->
<!-- navbar start -->
<div class="navbar-area navbar-area-2">
    <nav class="navbar navbar-expand-lg">
        <div class="container nav-container">
            <div class="navbar-inner">
                <div class="responsive-mobile-menu">
                    <button class="menu toggle-btn d-block d-lg-none" data-target="#themefie_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-left"></span>
                        <span class="icon-right"></span>
                    </button>
                </div>
                <div class="logo">
                    <a class="main-logo" href="index.html">
                        <img src="assets/img/Lobbytax_logo.jpg" alt="img">
                    </a>
                </div>
                
                <div class="collapse navbar-collapse" id="themefie_main_menu">
                    <ul class="navbar-nav menu-open">
                        <li id="toplink_home"><a href="index.html">Home</a></li>
                        <li id="toplink_about"><a href="aboutus.html">About Us</a></li>
                        <li id="toplink_services" class="menu-item-has-children current-menu-item">
                            <a href="services.html">Services</a>
                            <ul class="sub-menu">
                                <li><a href="individual_services.html">Individual Services</a></li>
                                <li><a href="business_services.html">Business Service</a></li>
                            </ul>
                        </li>
                        <li id="toplink_faq"><a href="faqs.html">FAQs</a></li>
                        <li id="toplink_referral"><a href="referral.html">Referral</a></li>
                        <li id="toplink_contact"><a href="contact.html">Contact</a></li>
                        <li id="toplink_contact"><a href="app/Login.html" class="register-link" target="_blank">
                            <i class="fa fa-lock" aria-hidden="true"></i> Login</a>
                         </li>
                        <li id="toplink_contact"><a href="app/register.html" class="register-link" target="_blank">
                            <i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
                         </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>