<section class="service-details-area pd-top-100 pd-bottom-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="service-details-inner">
                    <div class="service-details-wrap">
                        <h5><a href="#">How to earn unlimited referral income</a></h5>
                        <p>Earning unlimited income is in your hands.  All that you have to do is just refer all your friends/colleagues who are in need/requirement of filing US Tax Returns.</p>

                        <p>You can now refer your friends/colleagues from your group who was not client of LobbyTax and Earn referral money.</p>
                        
                        <div class="service-chart">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="thumb">
                                        <img src="assets/img/icon/refer-a-friend.jpg" alt="img">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-service-chart-wrap">
                                        <span class="red"></span>
                                        <div class="service-chart-details">
                                            <h6>1 - 10 Referrals</h6>
                                            <p>$10 per successful referral</p>
                                        </div>
                                    </div>
                                    <div class="single-service-chart-wrap">
                                        <span class="sky"></span>
                                        <div class="service-chart-details">
                                            <h6>11 - 20 Referrals</h6>
                                            <p>$20 per successful referral</p>
                                        </div>
                                    </div>
                                    <div class="single-service-chart-wrap">
                                        <span class="purple"></span>
                                        <div class="service-chart-details">
                                            <h6>More than 20 Referrals</h6>
                                            <p>$30 per successful referral</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>How to Refer </h5>
                        <p>Please <strong>login</strong> to your account and provide the information of the person/s who you would like to refer to LobbyTax</p>

                        <p>If you are not registered yet with LobbyTax, then please <strong>Register</strong> and start referring the friends. This will help you track the status of your friends in real time.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-area">
                    <div class="widget widget-contact">
                        <div class="widget-contact-wrap">
                            <img src="assets/img/icon/phone.png" alt="img">
                            <h6>Call Us: (1-909) 909-9009</h6>
                        </div>
                        <p>We have an extensive experience in filing of US Individual Tax Returns and Corporate Tax Returns. We have a team of qualified experts does research in all tax matters liaising with departments.</p>
                    </div>
                    <div class="widget widget-startup">
                        <h5 class="widget-title">Refer & Earn $10 per successful referral</h5>
                        <div class="thumb">
                            <img class="w-100" src="assets/img/icon/faq-ref.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>