	<!-- Services-Area Start-->
    <section class="industries-area bg-grey-2 pd-top-96 pd-bottom-100">
        <div class="container">        	
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title section-title-2 text-center">
                        <h2 class="title">Our Professional Services</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    
                    <div class="message-wrap">
                        <h6 class="title  text-center">US Individual Tax Services</h6>
                        <div class="p-4">
                        <p>We are dedicated for US Individual / Business Tax filing, a registered Electronic Return Originator(ERO) with the IRS and governed by Circular 230 of IRS Rules.</p>
                        <p>
                            <ul>
                                <li>Federal & State Tax Returns</li>
                                <li>ITIN Process</li>
                                <li>E-Filing / Paper Filing</li>
                                <li>FBAR Process</li>
                                <li>Extension Filing</li>
                                <li>Amendment Filing</li>                     
                            </ul>
                        </p>
                        <p> <a class="btn btn-pink pt-1" href="individual_services.html">  View more <i class="la la-angle-right"></i> </a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    
                    <div class="message-wrap">
                        <h6 class="title  text-center">US Business Services</h6>
                        <div class="p-4">
                        <p>LobbyTax assist Individual Entrepreneurs, Existing Business Corporations and Small Business people in forming a new business in USA. </p>
                        <p>    
                            <ul>
                                <li>Business Incorporation</li>
                                <li>Accounting Services</li>
                                <li>Book Keeping</li>
                                <li>Payroll Processing</li>
                                <li>Tax Planning </li>
                                <li>Tax Preparation & Filing</li>
                            </ul>
                        </p>
                        <p><a class="btn btn-pink pt-1" href="business_services.html"> View more <i class="la la-angle-right"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    
   
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-Area End-->