<section class="service-details-area pd-top-100 pd-bottom-80">
    <div class="container">
        <div class="row justify-content-center">           	
                  
            <div class="col-lg-4">
                <div class="sidebar-area">
                    <div class="service-accordion">
                        <div class="tab">
                            <a href="individual_services.html">US Individual Tax Services</a>
                        </div>
                        <div class="tab tab-active">
                            <a href="#">US Business Services</a>
                        </div>
                        <div class="mt-5" >
                            <img src="assets/img/banner/5.png">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-8">
                <div class="service-details-inner">
                    <div class="cardbody" id="1">
                        <div class="mt-1">
                            <h4>US Business Services</h4>
                            <p>LobbyTax assist Individual Entrepreneurs, Existing Business Corporations and Small Business people in forming a new business in USA. The business service covers as below. </p>
                            <ul class="ml-4">
                                <li>Sole Proprietorship</li>
                                <li>Partnership</li>
                                <li>Corporation</li>
                                <li>S Corporation</li>
                                <li>Limited Liability Company (LLC)</li>
                                <li>Charitable Organizations</li>
                                <li>Other Nonprofit Organizations</li>
                                <li>Annual Filing and Forms</li>
                            </ul>
                            </p>
                            <p>LobbyTax provides the Tax service/Suggestions throughout the year, An experience Tax Analyst will be available to help or suggest the taxpayer on the below query's.</p>
                        </div>	
                        <div class="mt-4">
                            <h7>Sole Proprietorship</h7>
                            <p>Use Schedule SE (Form 1040) to figure the tax due on net earnings from self-employment. The Social Security Administration uses the information from Schedule 
                            SE to figure your benefits under the social security program. This tax applies no matter how old you are and even if you are already getting social security or Medicare benefits.</p>
                        </div>	
                        <div class="mt-4">
                            <h7>Partnership</h7>
                            <p>A partnership is the relationship between two or more people to do trade or business. Each person contributes money, property, labor or skill, and shares in the profits and losses of the business.</p>
                            <p>Publication 541 provides supplemental federal income tax information for partnerships and partners. It supplements the information provided in the Instructions for Form 1065, 
                            U. S. Return of Partnership Income; the Partner's Instructions for Schedule K-1 (Form 1065); and Instructions for Schedule K-2 and Schedule K-3 (Form 1065). 
                            Generally, a partnership doesn't pay tax on its income but "passes through" any profits or losses to its partners. Partners must include partnership items on their tax returns.</p>
                        </div>	
                        <div class="mt-4">
                            <h7>Corporation</h7>
                            <p>In forming a corporation, prospective shareholders exchange money, property, or both, for the corporation's capital stock. A corporation generally takes the same deductions as a sole proprietorship to figure its taxable income. 
                            A corporation can also take special deductions. For federal income tax purposes, a C corporation is recognized as a separate taxpaying entity. A corporation conducts business, realizes net income or loss, pays taxes and distributes profits to shareholders.</p>
                            <p>The profit of a corporation is taxed to the corporation when earned, and then is taxed to the shareholders when distributed as dividends. This creates a double tax. 
                            The corporation does not get a tax deduction when it distributes dividends to shareholders. Shareholders cannot deduct any loss of the corporation</p>
                        </div>
                        <div class="mt-4">
                            <h7>S Corporation</h7>
                            <p>S corporations are corporations that elect to pass corporate income, losses, deductions, and credits through to their shareholders for federal tax purposes. Shareholders of S corporations report the 
                            flow-through of income and losses on their personal tax returns and are assessed tax at their individual income tax rates. This allows S corporations to avoid double taxation on the corporate income. S corporations are responsible for tax on certain built-in gains and passive income at the entity level.</p>
                        </div>	
                        <div class="mt-4">
                            <h7>Limited Liability Company (LLC)</h7>
                            <p>A Limited Liability Company (LLC) is a business structure allowed by state statute. Each state may use different regulations, you should check with your state if you are interested in starting a Limited Liability Company.</p>
                            <p>Owners of an LLC are called members. Most states do not restrict ownership, so members may include individuals, corporations, other LLCs and foreign entities. There is no maximum number of members. Most states also permit "single-member" LLCs, those having only one owner.</p>
                            <p>A few types of businesses generally cannot be LLCs, such as banks and insurance companies. Check your state's requirements and the federal tax regulations for further information. There are special rules for foreign LLCs.</p>
                        </div>
                        <div class="mt-4">
                            <h7>Charitable Organizations</h7>
                            <p>Organizations that are organized and operated exclusively for religious, charitable, scientific, testing for public safety, literary, educational or other specified purposes.</p>
                            <p>Churches and religious organizations are among the charitable organization that may qualify for exemption from federal income tax under Section 501(c)(3).</p>
                        </div>
                        <div class="mt-4">
                            <h7>Other Nonprofit Organizations</h7>
                            <p>Organizations meeting specified requirements may qualify for exemption under subsections other than Section 501(c)(3). These include social welfare organizations, civic leagues, social clubs, labor organizations and business leagues</p>
                        </div>
                        <div class="mt-4">
                            <h7>Annual Filing and Forms</h7>
                            <p>In general, exempt organizations are required to file annual returns, although there are exceptions. If an organization does not file a required return or files late, 
                            the IRS may assess penalties. In addition, if an organization does not file as required for three consecutive years, it automatically loses its tax-exempt status.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            
        </div>
    </div>
</section>