<!-- testimonial-Area Start-->
<section class="testimonial-area testimonial-area-2 pd-top-96 pd-bottom-96">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title section-title-2 text-center">
                    <h2 class="title">Our Client says</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonial-wrap-2">
                            <div class="testimonial-wrap-details">
                                <div class="rating-wrap mb-4">
                                    <h6><a href="testimonial.html">Kesav - <span>Boston</span></a></h6>
                                </div>
                                <p><span><i class="fa fa-quote-left"></i></span> <a href="testimonial.html">This is my 2nd year of US tax filing with Infytax and team and the experience has been excellent with them every year. I was always guided appropriately and amicably about the do's and don'ts in the US Tax filing. Their fees has been very nominal too compared to ...</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-wrap-2">
                            <div class="testimonial-wrap-details">
                                <div class="rating-wrap mb-4">
                                    <h6><a href="testimonial.html">Rajesh P - <span>NewYork</span></a></h6>
                                </div>
                                <p><span><i class="fa fa-quote-left"></i></span> <a href="testimonial.html">Ravindra and team are so soft spoken and seasoned that let me refer my friends to them and they have been also successfully getting their taxes filed through them and are happy and satisfied with their response and will always refer as many as possible...</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-wrap-2">
                            <div class="testimonial-wrap-details">
                                <div class="rating-wrap mb-4">
                                    <h6><a href="testimonial.html">Srinivasu Odugu - <span>Austin</span></a></h6>
                                </div>
                                <p><span><i class="fa fa-quote-left"></i></span>  <a href="testimonial.html">Sai Durga has showed lots of perseverance in winning a customer, her dedication and hard work is a great asset to your company. She has continued to work very diligently through out the taxation process, answered all my questions with patience and knowledge....</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-wrap-2">
                            <div class="testimonial-wrap-details">
                                <div class="rating-wrap mb-4">
                                    <h6><a href="testimonial.html">Vijayanand.K - <span>NewJersy</span></a></h6>
                                </div>
                                <p><span><i class="fa fa-quote-left"></i></span> <a href="testimonial.html">I am really happy that i have selected infy tax for filing my tax. They are quick and responding well especially resolving queries very excellent , Past 2 years i am getting tax filed with Infytax find no issues.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-wrap-2">
                            <div class="testimonial-wrap-details">
                                <div class="rating-wrap mb-4">
                                    <h6><a href="testimonial.html">Raj Kosara - <span>California</span></a></h6>
                                </div>
                                <p><span><i class="fa fa-quote-left"></i></span> <a href="testimonial.html">Infy Tax is a great company. They are professional and have answered all of my tax related questions on time and efficiently. I highly recommend them to anyone.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-wrap-2">
                            <div class="testimonial-wrap-details">
                                <div class="rating-wrap mb-4">
                                	<h6><a href="testimonial.html">Sai Kumar - <span>NewYork</span></a></h6>
                                </div>    
                                <p><span><i class="fa fa-quote-left"></i></span> <a href="testimonial.html">I'm proud to say that Infy Tax has been (and still at present) very helpful in resolving my tax problems! I recommend this firm to all of my family and friends who are having issues with the IRS.Special thanks to Nanda for helping me out there.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-wrap-2">
                            <div class="testimonial-wrap-details">
                            	<div class="rating-wrap mb-4">
                                	<h6><a href="testimonial.html">Prasanth - <span>NewJersy</span></a></h6>
                                </div>
                                <p><span><i class="fa fa-quote-left"></i></span> <a href="testimonial.html">It is great pleasure to work with INFY Tax. On my interactions with their Tax Experts, I have found them to be highly responsive to customer queries. I filed my returns at the US through INFYTax and it was their efficient communication which made me ...</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial-Area End--> 